nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
    .container
      .navbar-header
        button.navbar-toggle(type='button' data-toggle='collapse', data-target='.navbar-main-collapse')
          i.fa.fa-bars
        a.navbar-brand.page-scroll(href='/')
          i.fa.fa-play-circle
          span.light FINOCIAL
          | 
          sup V3
      .collapse.navbar-collapse.navbar-right.navbar-main-collapse
      ul.nav.navbar-nav
          // Hidden li included to remove active class from about link when scrolled up past about section
          li.hidden
            a(href='/')
          li
            a.page-scroll(href='/#about') About
          
      if user
        a(href='/me').user.visible-xs
            img(src=(user.photo.exists ? user._.photo.thumbnail(60,60) : user.gravatarUrl || 'images/avatar.png' ), width=27).img-circle
            
      a#site-nave-toggle(href='javascript:;').site-nave-toggle
      
      .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-left
            each link in navLinks
              li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
          ul.nav.navbar-nav.navbar-right
              if user
                  li: a(href='/me').user.hidden-xs
                        img(src=(user.photo.exists ? user._.photo.thumbnail(27,27) : user.avatarUrl || '/images/avatar.png'), width=27).img-circle
                        =user.name.first
                  li: a(href='/signout')
                      span.visible-xs Sign out
                      span.entypo.entypo-large.entypo-logout.hidden-xs
              else
                  li: a(href='/signin', data-from=page.path, data-initial='signin').js-auth-trigger Sign in
                  li: a(href='/join', data-from=page.path).js-auth-trigger Join
